.t1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-left: 0px;
    color: dimgray;
}
span{
    color: coral;
    font-weight: 500;
}
.br1{
    border-left: coral solid 2px;
    margin-left: 45px;
}

.first{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 500px;
    height: 600px;
    margin-left: 10%;
    
}
.des{
    padding-left: 90px;
    font-size: 20px;
}
.btn{
    text-decoration: none;
    background-color: coral;
    color: white;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 9px;
    margin-left: 90px;
    transition: 0.4s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover{
    background-color: black;
    color: white;
}
h5{
    margin-top: 50px;
    margin-left: 90px;
    color: rgba(0, 0, 0, 0.685);
}

.parent2{
    display: flex;
}
.sec{
    margin-top: 150px;
}
.card1{
    text-align: left;
    background-color: lightcyan;
    border: none;
    width: 18%;
    padding: 4%;
    height: 300px;
    box-shadow: 5px 7px 40px gray;
}

.card2{
    text-align: left;
    background-color:  rgba(240, 128, 128, 0.644);
    border: none;
    width: 18%;
    padding: 4%;
    height: 300px;
    box-shadow: 5px 7px 40px gray;
}

.card3{
    text-align: left;
    background-color:lightgoldenrodyellow;
    border: none;
    width: 18%;
    padding: 4%;
    height: 300px;
    box-shadow: 5px 7px 40px gray;
}
.dcrp{
    display: inline-block;
    width: 33.33%;
}
.aim{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
.title3{
    font-size: 20px;
}
.cardtitle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    padding-bottom: 40px;
    color: dimgray;
}


.third{
    display: flex;
    margin-top: 250px;
    padding-right: 200px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: 140px;
    background-position-y: 20px;
}

.tin{
    font-size: 50px;
}
.ordhek{
    width: 50%;
    margin-right: 15%;
    margin-top: 5%;
}
.chobi img{
    width: 51%;
    margin-left: 35%;
    margin-bottom: 10%;
    margin-top: 20px;
}

.ptin{
    font-size: 18px;
}
.btn2{
    text-decoration: none;
    background-color: coral;
    color: white;
    padding: 10px 20px;
    font-size: 11px;
    border-radius: 9px;
    transition: 0.4s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn2:hover{
    background-color: black;
    color: white;
}

